## Authentication
auth/*
.env*

## R & Rstudio
.Rhistory
.Renviron
.RData
.Rproj.user
.Rproj.user/
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.DS_Store
**/.DS_Store

## Data files
*.rds
*.xlsx
*.csv
*.tsv
*.patch
*.parquet
/.quarto/
docs

## Other
**/.claude/