default:
  country: kenya
  ingestion:
    wcs:
      koboform:
        asset_id: !expr Sys.getenv('KOBO_ASSET_ID')
        asset_id_price: !expr Sys.getenv('KOBO_ASSET_ID_PRICE')
        username: !expr Sys.getenv('KOBO_USERNAME')
        password: !expr Sys.getenv('KOBO_PASSWORD')
      koboform_kf:
        asset_id_kf: !expr Sys.getenv('KOBO_ASSET_ID_KF')
        asset_id_price_kf: !expr Sys.getenv('KOBO_ASSET_ID_PRICE_KF')
        username_kf: !expr Sys.getenv('KOBO_USERNAME_KF')
        password_kf: !expr Sys.getenv('KOBO_PASSWORD_KF')
    kefs:
      koboform:
        asset_id_v1: !expr Sys.getenv('KEFS_KOBO_ASSET_ID_V1')
        asset_id_v2: !expr Sys.getenv('KEFS_KOBO_ASSET_ID_V2')
        username: !expr Sys.getenv('KEFS_KOBO_USERNAME')
        password: !expr Sys.getenv('KEFS_KOBO_PASSWORD')
        token: !expr Sys.getenv('KEFS_KOBO_TOKEN')
  surveys:
    summaries:
      file_prefix: kenya-summaries
      version: latest
    aggregated:
      file_prefix: kenya-aggregated
      version: latest  
    wcs:
      catch:
        v2:
          raw:
            file_prefix: wcs-surveys-raw-v2
          preprocessed:
            file_prefix: wcs-surveys-preprocessed-v2
        v1:
          raw:
            file_prefix: wcs-surveys-raw-v1
          preprocessed:
            file_prefix: wcs-surveys-preprocessed-v1
        legacy:
          raw:
            file_prefix: wcs-legacy-surveys-raw
          preprocessed:
            file_prefix: wcs-legacy-surveys-preprocessed
        merged:
          file_prefix: wcs-surveys-all_landings
        validated:
          file_prefix: wcs-surveys-validated
      price:
        v1:
          raw:
            file_prefix: wcs-price-surveys-raw-v1
          preprocessed:
            file_prefix: wcs-price-surveys-preprocessed-v1
        v2:
          raw:
            file_prefix: wcs-price-surveys-raw-v2
          preprocessed:
            file_prefix: wcs-price-surveys-preprocessed-v2
        price_table:
          file_prefix: wcs-price_table
      flags:
        file_prefix: wcs-alert-flags
    kefs:
      v1:
        raw:
          file_prefix: kefs-v1-surveys-raw
        preprocessed:
          file_prefix: kefs-v1-surveys-preprocessed
        validated:
          file_prefix: kefs-v1-surveys-validated
        validation:
          flags:
            file_prefix: kefs-v1-flags
      v2:
        raw:
          file_prefix: kefs-v2-surveys-raw
        preprocessed:
          file_prefix: kefs-v2-surveys-preprocessed
        validated:
          file_prefix: kefs-v2-surveys-validated
        merged:
          file_prefix: kefs-v2-surveys-merged
        validation:
          flags:
            file_prefix: kefs-v2-flags
  storage:
    mongodb:
      connection_strings:
        main: !expr Sys.getenv('MONGODB_CONNECTION_STRING')
        validation: !expr Sys.getenv('MONGODB_CONNECTION_STRING_VALIDATION')
      databases:
        pipeline:
          database_name: pipeline-dev
          collections:
            legacy:
              raw: legacy-raw
              preprocessed: legacy-preprocessed
            v1:
              raw: raw
              raw_price: raw_price
              preprocessed: preprocessed
              preprocessed_price: preprocessed_price
              merged_landings: merged-landings
              price_table: price_table
              validated: validated
            validation_flags: validation_flags
        validation:
          database_name: validation-dev
          collections:
            flags: surveys_flags
            enumerators_stats: enumerators_stats
        dashboard_wcs:
          database_name: app-dev
          collections:
            legacy:
              fishery_metrics: legacy-metrics
              fishery_metrics_monthly: legacy-metrics_monthly
            v1:
              individual_stats: individual_stats
              individual_gear_stats: individual_gear_stats
              individual_fish_distribution: individual_fish_distribution
              monthly_stats: monthly_stats
              catch_monthly: catch_monthly
              gear_distribution: gear_distribution
              fish_distribution: fish_distribution
              map_distribution: map_distribution
              gear_summaries: gear_summaries
        dashboard:
          database_name: portal-dev
          collections:
            monthly_summaries: monthly_summaries
            taxa_summaries: taxa_summaries
            districts_summaries: districts_summaries
            gear_summaries: gear_summaries
            grid_summaries: grid_summaries
    google:
      key: gcs
      options:
        project: peskas
        bucket: kenya-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
      options_coasts:
        project: peskas
        bucket: peskas-coasts-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
      options_api:
        bucket: peskas-api-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
  pds_storage:
    google:
      key: gcs
      options:
        project: peskas
        bucket: pds-kenya-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
  pds:
    token: !expr Sys.getenv('PDS_TOKEN')
    secret: !expr Sys.getenv('PDS_SECRET')
    pds_trips:
      file_prefix: pds-trips
      version: latest
    pds_tracks:
      file_prefix: pds-tracks
      version: latest
  metadata:
    map_boundaries:
      prefix: KEN_boundaries  
    google_sheets:
      name: metadata-tables
      sheet_id: !expr Sys.getenv("GOOGLE_SHEET_ID")
      tables:
        - BMUs
    airtable:
      assets: assets
      base_id: !expr Sys.getenv("AIRTABLE_BASE_ID")
      token: !expr Sys.getenv("AIRTABLE_TOKEN")
  api:
    trips:
      raw:
        file_prefix: trips-raw
        cloud_path: kenya/raw
      validated:
        file_prefix: trips-validated
        cloud_path: kenya/validated

  validation:
    k_nboats: 5
    k_nfishers: 3
    k_catch: 2.5
    max_kg: 300

production:
  storage:
    google:
      options:
        bucket: kenya-prod
      options_coasts:
        bucket: peskas-coasts
      options_api:
        bucket: peskas-api-prod
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
    mongodb:
      databases:
        pipeline:
          database_name: pipeline
        validation:
          database_name: validation-prod
        dashboard_wcs:
          database_name: app
        dashboard:
          database_name: portal-prod
  pds_storage:
    google:
      options:
        bucket: pds-kenya-prod

local:
  # Local configuration inherits everything from default
  # Add only local-specific overrides here if needed
